#calendar{
	font-family: 'Times New Roman', Times, serif;
	font-size: 12px;
}

#calendar_op{
	text-align: center;
	margin-bottom: 1%;
	margin-top: 2%;
}

#container h1{
	text-align: center;
	margin-top: 1%;
}

#wrapper{
	width: 85%;
	margin-left: 12%;
	margin-bottom: 5%;
}

#sidebar{
	width: 12%;
	position: fixed;
	top: 10%;
	left: 1%;
	text-align: center;

}

#calendar_table{
	width:96%;
	margin: auto;
	
}

#calendar_table th, td{
	border: 1px solid black;
	border-spacing: 5px;

}

#calendar_table td{
	height: 100px;
}

#map{
	height: 300px;
}
