#calendar{
	font-family: 'Times New Roman', Times, serif;
}

#calendar_op{
	text-align: center;
	margin-bottom: 1%;
	margin-top: 2%;
}

#container h1{
	text-align: center;
	margin-top: 1%;
}

#wrapper{
	width: 85%;
	margin-left: 15%;
}

#sidebar{
	width: 12%;
	position: fixed;
	top: 10%;
	left: 1%;
	text-align: center;
}
